{
    "container_commands":{
        "01_enable_rootaccess":{
            "command": "echo Defaults:root \!requiretty >> /etc/sudoers",
        },
        "02_install_knex":{
            "command": "sudo /opt/elasticbeanstalk/node-install/node-v0.12.0-linux-x64/bin/npm install -g knex",
            "leader_only": true
        }
        "03_database_migrations":{
            "command": "sudo knex migrate:latest",
            "leader_only": true
        }
    }
}
